---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

type Props = CollectionEntry<"blog">;
const post = Astro.props;
---

<div
  class="prose md:prose-md dark:prose-invert dark:border-gray-700 lg:prose-lg sm:prose-sm w-full p-3 border rounded-md prose-h3:text-primary prose-a:text-blue-700"
>
  {" "}
  <header>
    <h3 class="not-prose text-blue-400"> <a href={`/${post.collection}/${post.slug}`}> {post.data.title}</a></h3>
    <p>Posted At<FormattedDate date={post.data.pubDate} />
      </p>
  </header>
  <div>
    <p>{post.data.description}</p>
    <a href={`/${post.collection}/` + post.slug}>Read More</a>
  </div>
</div>
